[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
chatterbot-corpus = "==1.2.0"
dj-database-url = "==0.5.0"
psycopg2 = "==2.7.7"
ChatterBot = "==1.0.2"
Django = "==2.1.5"
django-heroku = "*"
django-inspectdb-refactor = "*"
django-dotenv = "*"
psycopg2-binary = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
